* {
	font-family: Avenir Next, Arial, Verdana, sans-serif;
	/* if its not h1, h2, h3, i, p, copyright, border, center, logo, or otherwise it'll default the font-style to this */
}

h1 {
	font-family: Times, Times New Roman, Garamond, serif;
	color: #CFC4CC;
	font-size: 180%;
	/* all <h1> elements will be that hex code, font family/style, and 180% larger in font size*/
}

h2 {
	font-family: Times, Times New Roman, Garamond, serif;
	color: #CFC4CC;
	font-size: 155%;
	/* all <h2> elements will be that hex code, font family/style, and 155% larger in font size*/
}

h3 {
	font-family: Times, Times New Roman, Garamond, serif;
	color: #CFC4CC;
	font-size: 125%;
	/* all <h3> elements will be that hex code, font family/style, and 125% larger in font size*/
}

i {
	color: #e42d19;
	/* all <i> elements will be that hex code*/
}

p {
	color: #CFC4CC;
	font-size: 120%;
	/* all <p> elements will be that hex code and 120% larger in font size */
}

.copyRight {
	font-size: 90%;
	color: #420D07;
	/* copyright font and color text */
}

body {
		background-repeat:repeat-x;
		background-size: 1000px 240px;
		background-color: #C22515;
		div.center 
		{
			text-align: center;
		/* text that has class = "center" will have its text pulled to the middle */
			
		}
		div.logo 
		{
			text-align: left;
		/* logo at the bottom of each page is pulled to the left */
		}		
}

.banner img {
  display: block;
  width: 100%;
  height: 240px;
  border: 10px solid #69150c;
  object-fit: cover;
}
/* specifically for the banner, border is ten pixels of solid hexcode. */
/* the object-fit 'covers' the background. height is 240 pixels tall, 100% of its width is showing and its displayed as a single block */